*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    background: #0152a1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;}

.barra{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    width: 100%;
    background-color: #0152a1;
}

a{
    text-decoration: none;
}

.logo{
    height: 15vmax;
    width: 15vmax;
}

.lista{
    background-image: url(img/fundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 88vh;
    width: 100%;
}

.contato{
    color: aliceblue;
    background-color: #3ec34f;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2ch;
    margin:  40px 0px 40px 0px;
    height: 60px;
    width: 90vw;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
    transition: transform 0.2s ease;
}

.contato:hover{
    transform: scale(1.1);
}

.logo_wpp{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    padding-right: 15px;
}

p{
    padding-left: 15px;
}

.contato_olx{
    color: aliceblue;
    background-color: #6d0ad7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  40px 0px 40px 0px;
    height: 60px;
    width: 90vw;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
    transition: transform 0.2s ease;
}

.contato_olx:hover{
    transform: scale(1.1);
}

.olx{
    height: 40px;
    width: 70px;
}

.rodape{
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0152a1;
    height: 160px;
    width: 100%;
}

.topicos{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.topicos1{
    display: flex;
    margin-bottom: 15px;
    margin-left: 10px;
}

.pin{
    height: 25px;
    width: 25px;
}

.maps{
    border-radius: 5px;
    height: 140px;
    width: 110px;
    margin-right: 10px;
}

#map{
    border-radius: 5px;
    height: 340px;
    width: 310px;
    margin-right: 10px;
}

@media (min-width: 600px){
    .contato{
        height: 40px;
        margin:  10px 0px 10px 0px;
    }

    .logo_wpp{
        height: 30px;
        width: 30px;
        border-radius: 100%;
        padding-right: 15px;
    }

    .contato_olx{
        height: 40px;
        margin:  10px 0px 10px 0px;
    }

    .olx{
        height: 30px;
        width: 55px;
    }

    .logo{
        height: 10vmax;
        width: 10vmax;
    }

    .rodape{
        height: 80px;
    }

    .topicos{
        font-size: 10px;
        height: 70px;
        width: 160px;
        margin-right: 10px;
    }

    .topicos1{
        display: flex;
        margin-bottom: 5px;
        margin-left: 0px;
    }

    .pin{
        height: 15px;
        width: 15px;
    }

    .mapa{
        font-size: 10px;
        height: 70px;
        width: 160px;
        margin-left: 10px;
    }

    .maps{
        border-radius: 5px;
        height: 70px;
        width: 90px;
        margin-top: 15px;
        margin-right: 10px;
    }
}